body{
    background-color: rgb(28, 124, 124);
}

header{
    text-align: center;
    color: white
}

section{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

div{
    text-align: center;
    padding: 8px;
}

#label-sex{
    display: block;
    padding: 8px 5px 10px 0;
}

#imagem{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

footer{
    text-align: center;
}