#amazon{
    border-style: none;
    padding: 5px 30px 5px 30px;
    background-color: rgb(255, 216, 20);
    font-size: 16px;
    border-radius: 15px;
}

#uberR{
    border-style: none;
    padding: 5px 20px 5px 20px;
    background-color: black;
    font-size: 16px;
    border-radius: 5px;
    color: aliceblue;
}

#shedule{
    border-style: none;
    padding: 5px 20px 5px 20px;
    background-color: rgb(230, 230, 230);
    font-size: 16px;
    border-radius: 5px;
}