



body {
    background-color: rgb(250, 208, 153);

}

.titulo {
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: flex;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

.container {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 60vw;
    min-height: fit-content;
    min-width: 40vh;
    border-radius: 15px;
    margin: auto;
}

.timer-container {
    background-color: blue;
    display: flex;
    height: 30vh;
    width: 30vh;
    min-height: fit-content;
    min-width: 20vh;
    text-align: center;
    margin: auto;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    
}

.buttons {
    display: flex;
    height: 10vh;
    width: auto;
    margin: auto;
}

button{
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 20vh;
    height: 8vh;
}