*{
    margin: 0;
    padding: 0;
}

.js-calculation{
    color: aliceblue;
}

.numbers{
    border: none;
    border-radius: 100%;
    background-color: rgb(63, 59, 59);
    color: aliceblue;
    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 10px;
}

.simbols{
    border-radius: 100%;
    background-color: orange;
    color: aliceblue;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 12px;
}




body{
    background-color: black;
}